*
{
    font-family: monospace;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    text-align:center;
}
body
{
    background-color: gray;
    /* display:flex; */
}
p
{
    margin:5rem ;
    transition: all 0.5s;
}
a
{
    display: inline-flex;
    /* display: inline-block; */
    position: relative;
    /* margin-top: 10rem; */
    /* margin-left: -10rem; */
    background-color: black;
    color: forestgreen;
    padding: 1rem;
    border-radius: 2rem;
}
table,td,th
{
    border:2px solid navy;
}
input
{
    border-radius:0.25rem;
}
